In [11]:
import pandas as pd
from datetime import datetime, date

### Loading Data

In [2]:
## Peek the first lines to check the separator used
!head data/campeonato-brasileiro-full.csv

"ID","rodata","data","hora","mandante","visitante","formacao_mandante","formacao_visitante","tecnico_mandante","tecnico_visitante","vencedor","arena","mandante_Placar","visitante_Placar","mandante_Estado","visitante_Estado"
"1","1","29/03/2003","16:00","Guarani","Vasco","","","","","Guarani"," Brinco de Ouro","4","2","SP","RJ"
"2","1","29/03/2003","16:00","Athletico-PR","Gremio","","","","","Athletico-PR"," Arena da Baixada","2","0","PR","RS"
"3","1","30/03/2003","16:00","Flamengo","Coritiba","","","","","-"," Maracanã","1","1","RJ","PR"
"4","1","30/03/2003","16:00","Goias","Paysandu","","","","","-"," Serra Dourada","2","2","GO","PA"
"5","1","30/03/2003","16:00","Internacional","Ponte Preta","","","","","-"," Beira Rio","1","1","RS","SP"
"6","1","30/03/2003","16:00","Criciuma","Fluminense","","","","","Criciuma"," Heriberto Hulse","2","0","SC","RJ"
"7","1","30/03/2003","16:00","Juventude","Sao Paulo","","","","","-"," Alfredo Jaconi","2","2","RS","SP"
"8","1","30/03/2003","16:00","Fortaleza","Bahia","","","","","-"," Castelão","0","0","CE","BA"
"9","1","30/03/2003","16:00","Cruzeiro","Sao Caetano","","","","","-"," Mineirão","2","2","MG","SP"

In [3]:
## How many rows
## Depending on the number of rows we may need to think in strategies for memory saving. It is not the case here.

!wc -l data/campeonato-brasileiro-full.csv

8406 data/campeonato-brasileiro-full.csv

In [4]:
## Partidas
partidas = pd.read_csv('data/campeonato-brasileiro-full.csv', index_col='ID')
partidas.head()

,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
ID,,,,,,,,,,,,,,,
1,1,29/03/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,Brinco de Ouro,4,2,SP,RJ
2,1,29/03/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,Arena da Baixada,2,0,PR,RS
3,1,30/03/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR
4,1,30/03/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA
5,1,30/03/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP

In [5]:
## estatisticas
estatisticas = pd.read_csv('data/campeonato-brasileiro-estatisticas-full.csv')
estatisticas.head()

,partida_id,rodata,clube,chutes,chutes_no_alvo,posse_de_bola,passes,precisao_passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
0,1,1,Guarani,0,0,NaN,0,NaN,0,0,0,0,0
1,1,1,Vasco,0,0,NaN,0,NaN,0,0,0,0,0
2,2,1,Gremio,0,0,NaN,0,NaN,0,0,0,0,0
3,2,1,Athletico-PR,0,0,NaN,0,NaN,0,0,0,0,0
4,3,1,Coritiba,0,0,NaN,0,NaN,0,0,0,0,0

In [6]:
## gols
gols = pd.read_csv('data/campeonato-brasileiro-gols.csv')
gols.head()

,partida_id,rodata,clube,atleta,minuto,tipo_de_gol
0,4607,1,Fluminense,Nirley da Silva Fonseca,59,Gol Contra
1,4607,1,Fluminense,Fred,45,Penalty
2,4607,1,Fluminense,Rafael Sóbis,31,NaN
3,4608,1,Internacional,Charles Aránguiz,6,NaN
4,4612,1,Cruzeiro,Nílton Ferreira Júnior,63,NaN

In [7]:
## cartoes
cartoes = pd.read_csv('data/campeonato-brasileiro-cartoes.csv')
cartoes.head()

,partida_id,rodata,clube,cartao,atleta,num_camisa,posicao,minuto
0,4607,1,Figueirense,Amarelo,Paulo Roberto da Silva,28.0,NaN,66
1,4607,1,Figueirense,Amarelo,Thiago Heleno,4.0,Zagueiro,44
2,4608,1,Internacional,Amarelo,Andrés D'Alessandro,10.0,Meio-campo,72
3,4608,1,Vitoria,Amarelo,Marcelo Machado dos Santos,29.0,NaN,86
4,4608,1,Vitoria,Amarelo,Mansur,NaN,Zagueiro,10

In [8]:
## Data transformation

partidas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8405 entries, 1 to 8405
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   rodata              8405 non-null   int64
 1   data                8405 non-null   object
 2   hora                8405 non-null   object
 3   mandante            8405 non-null   object
 4   visitante           8405 non-null   object
 5   formacao_mandante   3431 non-null   object
 6   formacao_visitante  3431 non-null   object
 7   tecnico_mandante    3795 non-null   object
 8   tecnico_visitante   3795 non-null   object
 9   vencedor            8405 non-null   object
 10  arena               8405 non-null   object
 11  mandante_Placar     8405 non-null   int64
 12  visitante_Placar    8405 non-null   int64
 13  mandante_Estado     8405 non-null   object
 14  visitante_Estado    8405 non-null   object
dtypes: int64(3), object(12)
memory usage: 1.0+ MB

In [36]:
## Lets set data type for "data" in order to assure ordering in future steps.

partidas["data"] = pd.to_datetime(partidas["data"], dayfirst=True)
partidas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8405 entries, 1 to 8405
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   rodata              8405 non-null   int64
 1   data                8405 non-null   datetime64[ns]
 2   hora                8405 non-null   object
 3   mandante            8405 non-null   object
 4   visitante           8405 non-null   object
 5   formacao_mandante   3431 non-null   object
 6   formacao_visitante  3431 non-null   object
 7   tecnico_mandante    3795 non-null   object
 8   tecnico_visitante   3795 non-null   object
 9   vencedor            8405 non-null   object
 10  arena               8405 non-null   object
 11  mandante_Placar     8405 non-null   int64
 12  visitante_Placar    8405 non-null   int64
 13  mandante_Estado     8405 non-null   object
 14  visitante_Estado    8405 non-null   object
dtypes: datetime64[ns](1), int64(3), object(11)
memory usage: 1.0+ MB

### Historical aggregated measures
The idea is to retrieve information regarding last N matches of a club.

In [64]:
class TeamHistory:

    def __init__(self, team_name, n_matches=10, reference_date=date.today()):
        self.team_name = team_name
        self.n_matches = n_matches
        self.reference_date = reference_date
        self.history_as_host = partidas.loc[(partidas["mandante"] == team_name) & (partidas["data"] < reference_date)].sort_values("data", ascending=False).head(n_matches)
        self.history_as_away = partidas.loc[(partidas["visitante"] == team_name) & (partidas["data"] < reference_date)].sort_values("data", ascending=False).head(n_matches)
        self.gols_as_host = self.history_as_host["mandante_Placar"].sum()
        self.gols_as_away = self.history_as_away["visitante_Placar"].sum()


## Function that return all matches of a given date
def get_matches(date=date.today()):
    return partidas.loc[partidas["data"] == date][["rodata", "data", "hora", "mandante", "visitante", "vencedor", "mandante_Placar", "visitante_Placar"]]

In [66]:
fluminense_history = TeamHistory("Fluminense", reference_date=datetime.strptime("2022-11-09", '%Y-%m-%d'))
fluminense_history.gols_as_host

np.int64(22)